.registration_flex_wrapper{
    display: flex;
    justify-content: space-between;
    .form-group {
        margin: 10px 0px;
    }
    .registration_flex_left {
        margin-right: 50px;
        width: 400px;
    }
    .registration_sex_pick {
        display: flex;
        justify-content: space-between;
        white-space: nowrap;

        span {
            margin-right: 10px;
        }
    }

    .registration_params {
        display: flex;
        justify-content: space-between;
    }

    .param_wrapper {
        white-space: nowrap;
        .input-group {
            width: 120px;
        }
    }
}

.opacity_text {
    text-align: center;
}

.react-datepicker__day--keyboard-selected, .react-datepicker__month-text--keyboard-selected, .react-datepicker__quarter-text--keyboard-selected, .react-datepicker__year-text--keyboard-selected {
    background-color: #198754 !important;
}

.react-datepicker__header {
    background-color: #19875475 !important;
    color: white !important;
}

.react-datepicker__current-month, .react-datepicker-time__header, .react-datepicker-year-header {
    color: white !important;
}

.react-datepicker__day-name {
    color: white !important;
}

.react-datepicker__navigation-icon::before {
    border-color: white !important;
}

.select_label {
    margin-top: 10px;
}

.redirect_to_signIn {
    margin-top: 50px;
    text-align: end;

    span {
        color: #198754;
        cursor: pointer;
        font-weight: 600;
    }
}

.sex_picker {
    display: flex;
    flex-direction: column;
    margin-top: 10px;

    .sex_radio_wrapper {
        display: flex;

    }
}

.custom_input {
    display: flex;
    input {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
        width: 150px;
    }
    label{
        line-height: 37px;
        padding: 0px 5px;
        background-color: #198754;
        color: #FFF;
        border-bottom-right-radius: 0.375rem;
        border-top-right-radius: 0.375rem;
    }
}

.birthDate {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    appearance: none;
    border-radius: 0.375rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

    &:focus {
        border-color: #198754 !important;
        box-shadow: 0px 0px 3px 3px rgb(25 135 84 / 20%) !important;
    }
}

.error {
    font-size: 12px;
    color: red;
}